header {
    background-color: #39404a;
    height: 100vh;
    background-position: center center;
    position: relative;
    font-family: "Kanit", sans-serif;
    letter-spacing: 5px;
    text-shadow: 0 0 4px #000;
}

.header-jumbotron {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.header-jumbotron>img {
    width: 150px;
}

.header-jumbotron>h3 {
    color: #fff;
    margin: 30px 0px 0px 0px;
    padding: 5px;
    font-size: 3.5rem;
    line-height: 4rem;
    text-transform: uppercase;
}

.header-jumbotron>p {
    padding: 5px;
    margin: 0px 5px 20px 5px;
    color: #fff;
    font-size: 1.2rem;
}

.socialMedia {
    color: #fff;
    display: flex;
    gap: 20px;
}

.socialMedia>a {
    background-color: #222831;
    color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialMedia>a>svg {
    height: 30px;
    width: auto;
}

.socialMedia>a:hover {
    background-color: #aa392d;
}

@media only screen and (max-width: 1000px) {
    .socialMedia>a {
        width: 60px;
        height: 60px;
    }
    .socialMedia>a>svg {
        height: 30px;
        width: auto;
    }
}